In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.impute import MissingIndicator, SimpleImputer

In [2]:
df = pd.read_csv('../../datasets/train.csv',usecols=['Age','Fare','Survived'])
df.head()

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500

In [3]:
X = df.drop(columns=['Survived'])
y = df['Survived']

In [4]:
X_train,X_test,Y_train,Y_test = train_test_split(X,y,test_size=0.2,random_state=41)

In [5]:
X_train.head()

      Age     Fare
628  26.0   7.8958
300   NaN   7.7500
663  36.0   7.4958
50    7.0  39.6875
846   NaN  69.5500

### Transforming the data with simpleImputer

In [6]:
si = SimpleImputer()
X_train_trf  = si.fit_transform(X_train)
X_test_trf = si.transform(X_test)

#### Lets see the accuracy difference on MI and non-MI Data

In [7]:
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression()

clf.fit(X_train_trf,Y_train)


y_pred = clf.predict(X_test_trf)

In [8]:
from sklearn.metrics import accuracy_score

accuracy_score(Y_test,y_pred)

0.6368715083798883

### Using Missing Imputer

In [9]:
mi = MissingIndicator()

mi.fit(X_train)

MissingIndicator()

In [10]:
X_train_mi = mi.transform(X_train) ## Returns Column with True/False Values
X_test_mi = mi.transform(X_test)

In [11]:
X_train['Age_NA'] = X_train_mi

In [12]:
X_test['Age_NA'] = X_test_mi

In [13]:
X_train

      Age     Fare  Age_NA
628  26.0   7.8958   False
300   NaN   7.7500    True
663  36.0   7.4958   False
50    7.0  39.6875   False
846   NaN  69.5500    True
..    ...      ...     ...
407   3.0  18.7500   False
601   NaN   7.8958    True
243  22.0   7.1250   False
321  27.0   7.8958   False
80   22.0   9.0000   False

[712 rows x 3 columns]

### Before testing the df , first lets remove the Nan values

In [14]:
si = SimpleImputer()

X_train_trf2 = si.fit_transform(X_train)
X_test_trf2 = si.transform(X_test)

In [15]:
from sklearn.linear_model import LogisticRegression


clf = LogisticRegression()

clf.fit(X_train_trf2,Y_train)


y_pred = clf.predict(X_test_trf2)

In [16]:
accuracy_score(Y_test,y_pred)

0.6368715083798883

Well its didnt work for this specific dataset but sometime it just works