In [1]:
import pandas as pd
import requests

In [2]:
response = requests.get(f"https://api.themoviedb.org/3/movie/top_rated?api_key=79f66b020660d6788b4471fc4878559a&language=en-US&page=1")

In [3]:
df = pd.DataFrame(response.json()["results"])[["id",'title','overview','popularity','release_date','vote_average','vote_count']]

In [4]:
df.head()

,id,title,overview,popularity,release_date,vote_average,vote_count
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",163.166,1972-03-14,8.7,16841
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,93.513,1994-09-23,8.7,22576
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,60.327,1974-12-20,8.6,10211
3,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",35.112,1995-10-19,8.6,3931
4,424,Schindler's List,The true story of how businessman Oskar Schind...,63.970,1993-12-15,8.6,13400

In [5]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [ ]:
for i in range(1,501):
    response = requests.get(f"https://api.themoviedb.org/3/movie/top_rated?api_key=79f66b020660d6788b4471fc4878559a&language=en-US&page={i}")
    temp_df = pd.DataFrame(response.json()["results"])[["id",'title','overview','popularity','release_date','vote_average','vote_count']]
    df = pd.concat([df,temp_df],ignore_index=True)
df.shape